html {
	background-color: #152238;
}

body {
	width: 90%;
	min-width: 1400px;
	max-width: 2500px;
	margin: 0 auto;
	position: relative;
}

.clear {
	clear: both;
}

header {
	background: linear-gradient(
		to right,
		rgba(240, 248, 255, 0.4),
		rgba(248, 255, 252, 0.7)
	);
	background: -webkit-linear-gradient(
		to right,
		rgba(240, 248, 255, 0.4),
		rgba(248, 255, 252, 0.7)
	);
	background: -moz-linear-gradient(
		to right,
		rgba(240, 248, 255, 0.4),
		rgba(248, 255, 252, 0.7)
	);
	background: -o-linear-gradient(
		to right,
		rgba(240, 248, 255, 0.4),
		rgba(248, 255, 252, 0.7)
	);
	padding: 17px;
	margin: 20px 0;
	border-radius: 0 108.1px 0 108.1px;
	box-shadow: -6px 6px 6px rgb(125, 130, 136);
	-moz-box-shadow: -6px 6px 6px rgb(125, 130, 136);
	-webkit-box-shadow: -6px 6px 6px rgb(125, 130, 136);
}

header h1 {
	color: #152238;
	font-size: 5em;
	text-align: center;
}

header input {
	float: right;
	width: 300px;
	height: 50px;
	background: linear-gradient(to right, #152238, rgba(21, 34, 56, 0.6));
	border-radius: 0 20px 0 20px;
	font-size: 1.3em;
	color: aliceblue;
	padding: 10px;
	box-shadow: -6px 6px 6px rgb(76, 95, 128);
	-moz-box-shadow: -6px 6px 6px rgb(76, 95, 128);
	-webkit-box-shadow: -6px 6px 6px rgb(76, 95, 128);
}

#content-wrapper {
	width: 100%;
	min-height: 590px;
}

.weather-wrapper {
	float: left;
	margin: 25px 25px 0 0;
	width: 410px;
	min-height: 512px;
	background: linear-gradient(
		to right,
		rgba(245, 7, 7, 0.65) 25%,
		rgba(255, 82, 82, 0.55)
	);
	background: -webkit-linear-gradient(
		to right,
		rgba(245, 7, 7, 0.65) 25%,
		rgba(255, 82, 82, 0.55)
	);
	background: -moz-linear-gradient(
		to right,
		rgba(245, 7, 7, 0.65) 25%,
		rgba(255, 82, 82, 0.55)
	);
	background: -o-linear-gradient(
		to right,
		rgba(245, 7, 7, 0.65) 25%,
		rgba(255, 82, 82, 0.55)
	);
	border-radius: 0 108.1px 0 108.1px;
	box-shadow: -6px 6px 6px rgba(255, 82, 82, 0.8);
	-moz-box-shadow: -6px 6px 6px rgba(255, 82, 82, 0.8);
	-webkit-box-shadow: -6px 6px 6px rgba(255, 82, 82, 0.8);
	padding: 20px;
	transition: all 2s;
}

.weather-wrapper:last-child {
	margin-right: 0;
}

.location {
	font-size: 260%;
	color: #152238;
	text-shadow: -1px 1px 1px rgb(55, 63, 77);
	font-weight: normal;
}

.current-temp {
	font-size: 750%;
	font-weight: bold;
	color: #152238;
	text-shadow: -3px 3px 3px rgb(55, 63, 77);
}

.icon {
	width: 50%;
}

#choose-city {
	width: 950px;
	height: 650px;
	background: linear-gradient(to right, #152238, rgba(21, 34, 56, 0.75));
	background: -webkit-linear-gradient(
		to right,
		#152238,
		rgba(21, 34, 56, 0.75)
	);
	background: -moz-linear-gradient(to right, #152238, rgba(21, 34, 56, 0.75));
	background: -o-linear-gradient(to right, #152238, rgba(21, 34, 56, 0.75));
	position: absolute;
	left: 20%;
	top: 140px;
	border-radius: 0 108.1px 0 108.1px;
	box-shadow: -6px 6px 6px rgb(76, 95, 128);
	-moz-box-shadow: -6px 6px 6px rgb(76, 95, 128);
	-webkit-box-shadow: -6px 6px 6px rgb(76, 95, 128);
	padding: 25px;
	overflow: scroll;
	display: none;
}

.city {
	width: 90%;
	height: 160px;
	box-shadow: -4.5px 4.5px 4.5px rgb(76, 95, 128);
	-moz-box-shadow: -4.5px 4.5px 4.5px rgb(76, 95, 128);
	-webkit-box-shadow: -4.5px 4.5px 4.5px rgb(76, 95, 128);
	border-radius: 0 70px 0 70px;
	margin-bottom: 20px;
	position: relative;
	border: 1px solid aliceblue;
}

.city:hover {
	top: 4.5px;
	box-shadow: 0px 0px;
	-moz-box-shadow: 0px 0px;
	-webkit-box-shadow: 0px 0px;
	cursor: pointer;
}

.city:last-child {
	margin-bottom: 0;
}

.close-dialog {
	float: right;
	margin: 15px;
	cursor: pointer;
}

.city-country {
	color: aliceblue;
	font-size: 4em;
	margin: 0;
	padding: 15px;
	float: left;
}

.lat-lon {
	color: aliceblue;
	font-size: 1.5em;
	text-align: right;
	padding: 15px;
	margin-top: 70px;
}

.dusk-dawn {
	float: right;
}

.dusk-dawn p {
	color: #152238;
	font-size: 190%;
	text-shadow: -1px 1px 1px rgb(55, 63, 77);
}

footer {
	text-align: center;
	color: aliceblue;
	font-size: 1.3em;
	font-style: italic;
	padding: 25px;
}
